### We are actually not fully done with the data cleaning, if we look at the variables one more time 

Here is the lsit of the variables currently composing our csv 
There are 97 Variables in total: 

1	UNITID	Unique identification number of the institution

2	INSTNM	Institution (entity) name

3	STABBR	State abbreviation

4	OBEREG	Geographic region

5	HLOFFER	Highest level of offering

6	GROFFER	Graduate offering

7	HDEGOFFR	Highest degree offered

8	HBCU	Historically Black College or University

9	LOCALE	Degree of urbanization (Urban-centric locale)

10	POSTSEC	Primarily postsecondary indicator

11	INSTCAT	Institutional category

12	INSTSIZE	Institution size category

13	CNTLAFFI	Institutional control or affiliation

14	LEVEL3	Associate's degree

15	LEVEL5	Bachelor's degree

16	CALSYS	Calendar system

17	FT_UG	Full-time undergraduate students are enrolled

18	FT_FTUG	Full time first-time degree/certificate-seeking undergraduate students enrolled

19	PT_UG	Part-time undergraduate students are enrolled

20	PT_FTUG	Part time first-time degree/certificate-seeking undergraduate students enrolled

21	OPENADMP	Open admission policy

22	VET1	Yellow Ribbon Program (officially known as Post-9/11 GI Bill, Yellow Ribbon Program)

23	VET2	Credit for military training

24	CREDITS1	Dual enrollment

25	CREDITS2	Credit for life experiences

26	CREDITS3	Advanced placement (AP) credits

27	CREDITS4	Institution does not accept dual, credit for life, or AP credits

28	SLO5	ROTC

29	SLO6	Study abroad

30	SLO7	Weekend/evening  college

31	SLO83	Teacher certification: Approved by the state for initial certifcation or licensure of teachers.

32	YRSCOLL	Years of college-level work required

33	STUSRV1	Remedial services

34	STUSRV2	Academic/career counseling service

35	STUSRV3	Employment services for students

36	STUSRV4	Placement services for completers

37	STUSRV8	On-campus day care for students' children

38	STUSRV9	None of the above selected services are offered

39	LIBRES1	Library resources/services: Physical facilities

40	TUITPL	Any alternative tuition plans offered by institution

41	TUITPL1	Tuition guaranteed plan

42	TUITPL2	Prepaid tuition plan

43	TUITPL3	Tuition payment plan

44	TUITPL4	Other alternative tuition plan

45	DSTNUGC	Undergraduate level distance education courses offered

46	DSTNUGP	Undergraduate level distance education programs offered

47	DSTNCED1	Undergraduate level programs or courses are offered via distance education

48	ALLONCAM	Full-time, first-time degree/certificate-seeking students required to live on campus

49	TUITVARY	Tuition charge varies for in-district, in-state, out-of-state students

50	ROOM	Institution provide on-campus housing

51	BOARD	Institution provides board or meal plan

52	APPLFEEU	Undergraduate application fee

53	RMANDBRDAMT	Room and board amount 

54	EFYTOTLT	Grand total

55	EFYTOTLM	Grand total men

56	EFYTOTLW	Grand total women

57	EFYAIANT	American Indian or Alaska Native total

58	EFYAIANM	American Indian or Alaska Native men

59	EFYAIANW	American Indian or Alaska Native women

60	EFYASIAT	Asian total

61	EFYASIAM	Asian men

62	EFYASIAW	Asian women

63	EFYBKAAT	Black or African American total

64	EFYBKAAM	Black or African American men

65	EFYBKAAW	Black or African American women

66	EFYHISPT	Hispanic or Latino total

67	EFYHISPM	Hispanic or Latino men

68	EFYHISPW	Hispanic or Latino women

69	EFYNHPIT	Native Hawaiian or Other Pacific Islander total

70	EFYNHPIM	Native Hawaiian or Other Pacific Islander men

71	EFYNHPIW	Native Hawaiian or Other Pacific Islander women

72	EFYWHITT	White total

73	EFYWHITM	White men

74	EFYWHITW	White women

75	EFY2MORT	Two or more races total

76	EFY2MORM	Two or more races men

77	EFY2MORW	Two or more races women

78	EFYUNKNT	Race/ethnicity unknown total

79	EFYUNKNM	Race/ethnicity unknown men

80	EFYUNKNW	Race/ethnicity unknown women

81	EFYNRALT	Nonresident alien total

82	EFYNRALM	Nonresident alien men

83	EFYNRALW	Nonresident alien women

84	ADMCON1		Secondary school GPA

85	ADMCON2		Secondary school rank

86	ADMCON3		Secondary school record

87	ADMCON4		Completion of college-preparatory program

88	ADMCON5		Recommendations

89	ADMCON6		Formal demonstration of competencies

90	ADMCON7		Admission test scores

91	ADMCON8		TOEFL (Test of English as a Foreign Language

92	ADMCON9		Other Test (Wonderlic, WISC-III, etc.)

93	APPLCN		Applicants total

94	ADMSSN		Admissions total

95	ENRLT		Enrolled total

96	SATNUM		Number of first-time degree/certificate-seeking students submitting SAT scores

97	ACTNUM		Number of first-time degree/certificate-seeking students submitting ACT scores

In [1]:
from google.colab import drive
drive.mount ('/content/gdrive')
# /content/gdrive/Shareddrives/DATA_606_Capstone

Mounted at /content/gdrive

In [2]:
import pandas as pd
# import glob
# import os 

import numpy as np 

# from datetime import datetime 
import time 
import csv

import matplotlib.pyplot as plt

import seaborn as sns

In [3]:
def read_data(filename):
    start_time = time.time()
    df=pd.read_csv(filename,low_memory=False,encoding='cp1252') # added encoding because I was getting an error in reading the files 
    # https://stackoverflow.com/questions/45529507/unicodedecodeerror-utf-8-codec-cant-decode-byte-0x96-in-position-35-invalid
        # df=pd.read_csv(filename,low_memory=False)
    print(time.time() - start_time, 'seconds')
    return df

In [4]:
df_merged_all = read_data('/content/gdrive/Shareddrives/DATA_606_Capstone/Merged_data/df_merged_all.csv')

1.816293478012085 seconds

In [5]:
# df_merged_all.info()

In [6]:
df_merged_all.columns

Index(['Unnamed: 0', 'UNITID', 'INSTNM', 'STABBR', 'OBEREG', 'HLOFFER',
       'GROFFER', 'HDEGOFFR', 'HBCU', 'LOCALE', 'POSTSEC', 'INSTCAT',
       'INSTSIZE', 'CNTLAFFI', 'LEVEL3', 'LEVEL5', 'CALSYS', 'FT_UG',
       'FT_FTUG', 'PT_UG', 'PT_FTUG', 'OPENADMP', 'VET1', 'VET2', 'CREDITS1',
       'CREDITS2', 'CREDITS3', 'CREDITS4', 'SLO5', 'SLO6', 'SLO7', 'SLO83',
       'YRSCOLL', 'STUSRV1', 'STUSRV2', 'STUSRV3', 'STUSRV4', 'STUSRV8',
       'STUSRV9', 'LIBRES1', 'TUITPL', 'TUITPL1', 'TUITPL2', 'TUITPL3',
       'TUITPL4', 'DSTNUGC', 'DSTNUGP', 'DSTNCED1', 'ALLONCAM', 'TUITVARY',
       'ROOM', 'BOARD', 'APPLFEEU', 'RMANDBRDAMT', 'EFYTOTLT', 'EFYTOTLM',
       'EFYTOTLW', 'EFYAIANT', 'EFYAIANM', 'EFYAIANW', 'EFYASIAT', 'EFYASIAM',
       'EFYASIAW', 'EFYBKAAT', 'EFYBKAAM', 'EFYBKAAW', 'EFYHISPT', 'EFYHISPM',
       'EFYHISPW', 'EFYNHPIT', 'EFYNHPIM', 'EFYNHPIW', 'EFYWHITT', 'EFYWHITM',
       'EFYWHITW', 'EFY2MORT', 'EFY2MORM', 'EFY2MORW', 'EFYUNKNT', 'EFYUNKNM',
       'EFYUNKNW', 'EFYNRALT', 'EFYNRALM', 'EFYNRALW', 'ADMCON1', 'ADMCON2',
       'ADMCON3', 'ADMCON4', 'ADMCON5', 'ADMCON6', 'ADMCON7', 'ADMCON8',
       'ADMCON9', 'APPLCN', 'ADMSSN', 'ENRLT', 'SATNUM', 'ACTNUM'],
      dtype='object')

In [7]:
df_merged_all['POSTSEC'].value_counts()

# I can drop this column since the single institution here listed offers undergraduate degree even 
# if its primary purpose is not to provide a postgraduate degree (the institution is a military institution, see notebook 1)

1    3546
2       1
Name: POSTSEC, dtype: int64

### I will set my target variable to be Total Student Enrollment ( ENRLT ) , independently of race and gender, thus I will not use the varaibles pertaining to enrollemnt by gender and race for the time being  

### I will also separately consider the effects of these variables on Admission numbers and on Applicants numbers therefore I will separate these variables out

### Finally, I will slice out from the list of variables 'SATNUM' and 'ACTNUM', which represent the total number of SAT and ACT tests submitted. 
(NOTE: Test submission requirements are captured by ADMCON7 )

In [8]:
df_merged_all.drop(['Unnamed: 0', 'POSTSEC','EFYTOTLM', 'EFYTOTLW',
       'EFYAIANT', 'EFYAIANM', 'EFYAIANW', 'EFYASIAT', 'EFYASIAM', 'EFYASIAW',
       'EFYBKAAT', 'EFYBKAAM', 'EFYBKAAW', 'EFYHISPT', 'EFYHISPM', 'EFYHISPW',
       'EFYNHPIT', 'EFYNHPIM', 'EFYNHPIW', 'EFYWHITT', 'EFYWHITM', 'EFYWHITW',
       'EFY2MORT', 'EFY2MORM', 'EFY2MORW', 'EFYUNKNT', 'EFYUNKNM', 'EFYUNKNW',
       'EFYNRALT', 'EFYNRALM', 'EFYNRALW','SATNUM','ACTNUM'], axis = 1, inplace = True)

In [9]:
df_merged_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3547 entries, 0 to 3546
Data columns (total 65 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   UNITID       3547 non-null   int64
 1   INSTNM       3547 non-null   object
 2   STABBR       3547 non-null   object
 3   OBEREG       3547 non-null   int64
 4   HLOFFER      3547 non-null   int64
 5   GROFFER      3547 non-null   int64
 6   HDEGOFFR     3547 non-null   int64
 7   HBCU         3547 non-null   int64
 8   LOCALE       3547 non-null   int64
 9   INSTCAT      3547 non-null   int64
 10  INSTSIZE     3547 non-null   int64
 11  CNTLAFFI     3547 non-null   int64
 12  LEVEL3       3547 non-null   int64
 13  LEVEL5       3547 non-null   int64
 14  CALSYS       3547 non-null   int64
 15  FT_UG        3547 non-null   int64
 16  FT_FTUG      3547 non-null   int64
 17  PT_UG        3547 non-null   int64
 18  PT_FTUG      3547 non-null   int64
 19  OPENADMP     3547 non-null   int64
 20  VET1         3547 non-null   int64
 21  VET2         3547 non-null   int64
 22  CREDITS1     3547 non-null   int64
 23  CREDITS2     3547 non-null   int64
 24  CREDITS3     3547 non-null   int64
 25  CREDITS4     3547 non-null   int64
 26  SLO5         3547 non-null   int64
 27  SLO6         3547 non-null   int64
 28  SLO7         3547 non-null   int64
 29  SLO83        3547 non-null   int64
 30  YRSCOLL      3547 non-null   int64
 31  STUSRV1      3547 non-null   int64
 32  STUSRV2      3547 non-null   int64
 33  STUSRV3      3547 non-null   int64
 34  STUSRV4      3547 non-null   int64
 35  STUSRV8      3547 non-null   int64
 36  STUSRV9      3547 non-null   int64
 37  LIBRES1      3547 non-null   int64
 38  TUITPL       3547 non-null   int64
 39  TUITPL1      3547 non-null   int64
 40  TUITPL2      3547 non-null   int64
 41  TUITPL3      3547 non-null   int64
 42  TUITPL4      3547 non-null   int64
 43  DSTNUGC      3547 non-null   int64
 44  DSTNUGP      3547 non-null   int64
 45  DSTNCED1     3547 non-null   int64
 46  ALLONCAM     3547 non-null   int64
 47  TUITVARY     3547 non-null   int64
 48  ROOM         3547 non-null   int64
 49  BOARD        3547 non-null   int64
 50  APPLFEEU     3547 non-null   int64
 51  RMANDBRDAMT  3547 non-null   int64
 52  EFYTOTLT     3547 non-null   int64
 53  ADMCON1      3547 non-null   float64
 54  ADMCON2      3547 non-null   float64
 55  ADMCON3      3547 non-null   float64
 56  ADMCON4      3547 non-null   float64
 57  ADMCON5      3547 non-null   float64
 58  ADMCON6      3547 non-null   float64
 59  ADMCON7      3547 non-null   float64
 60  ADMCON8      3547 non-null   float64
 61  ADMCON9      3547 non-null   float64
 62  APPLCN       3547 non-null   float64
 63  ADMSSN       3547 non-null   float64
 64  ENRLT        3547 non-null   float64
dtypes: float64(12), int64(51), object(2)
memory usage: 1.8+ MB

In [10]:
df_merged_all['ADMCON1'].unique()

array([1., 3., 2., 5.])

### Let us take a moment and note that our data is labelled data and thus we are going to be focusing primarily on Supervised Machine Learning Models. 

### Traditional Supervised Machine Learning Models include: Linear Regression; Logistic Regression; K-Nearest Neighbors; Support ector Machines; Decision Trees and Random FOrests; and Neural Networks. 
### -- Ideally it would be interesting to first look at some of these for the 2020 data then generalize to include historical data as well. 

### We can start by looking out our Target variables (enrollment, vs applications, vs admissions) in terms of a linear regression model

In [11]:
# tot_admissions = df_merged_all['ADMSSN']
# tot_enrollment = df_merged_all['ENRLT']
# tot_applicants = df_merged_all['APPLCN']

In [12]:
df_merged_all.to_csv('/content/gdrive/Shareddrives/DATA_606_Capstone/Merged_data/df_merged_all_clean.csv')