# Part II - Continuing Data Merging and Cleaning 

### Using thwe data merged in our previous step we are now  going to add Institutional Admissions Data 

### First we will proceed with the data cleaning then we will merge this new information with our previously df merging Student and Institutional data together

In [ ]:
from google.colab import drive
drive.mount ('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
import pandas as pd
# import glob
# import os 

import numpy as np 

# from datetime import datetime 
import time 
import csv

import matplotlib.pyplot as plt

import seaborn as sns

In [ ]:
def read_data(filename):
    start_time = time.time()
    df=pd.read_csv(filename,low_memory=False,encoding='cp1252') # added encoding because I was getting an error in reading the files 
    # https://stackoverflow.com/questions/45529507/unicodedecodeerror-utf-8-codec-cant-decode-byte-0x96-in-position-35-invalid
        # df=pd.read_csv(filename,low_memory=False)
    print(time.time() - start_time, 'seconds')
    return df

In [ ]:
# /content/gdrive/Shareddrives/DATA_606_Capstone/Merged_data/df_merged_two.csv
df_merged_two = read_data('/content/gdrive/Shareddrives/DATA_606_Capstone/Merged_data/df_merged_two.csv')

0.042626380920410156 seconds

In [ ]:

df = read_data('/content/gdrive/Shareddrives/DATA_606_Capstone/Data/adm2020.csv')
#
df.head()

0.02595067024230957 seconds

   UNITID  ADMCON1  ADMCON2  ADMCON3  ...  XACTMT25  ACTMT25  XACTMT75  ACTMT75
0  100654        1        2        1  ...         R     15.0         R      18.0
1  100663        1        3        1  ...         R     20.0         R      27.0
2  100706        1        2        1  ...         R     23.0         R      29.0
3  100724        1        3        2  ...         R     14.0         R      20.0
4  100751        1        2        1  ...         R     21.0         R      29.0

[5 rows x 68 columns]

In [ ]:
df.columns = df.columns.str.replace(' ','')

In [ ]:
df.columns

Index(['UNITID', 'ADMCON1', 'ADMCON2', 'ADMCON3', 'ADMCON4', 'ADMCON5',
       'ADMCON6', 'ADMCON7', 'ADMCON8', 'ADMCON9', 'XAPPLCN', 'APPLCN',
       'XAPPLCNM', 'APPLCNM', 'XAPPLCNW', 'APPLCNW', 'XADMSSN', 'ADMSSN',
       'XADMSSNM', 'ADMSSNM', 'XADMSSNW', 'ADMSSNW', 'XENRLT', 'ENRLT',
       'XENRLM', 'ENRLM', 'XENRLW', 'ENRLW', 'XENRLFT', 'ENRLFT', 'XENRLFTM',
       'ENRLFTM', 'XENRLFTW', 'ENRLFTW', 'XENRLPT', 'ENRLPT', 'XENRLPTM',
       'ENRLPTM', 'XENRLPTW', 'ENRLPTW', 'XSATNUM', 'SATNUM', 'XSATPCT',
       'SATPCT', 'XACTNUM', 'ACTNUM', 'XACTPCT', 'ACTPCT', 'XSATVR25',
       'SATVR25', 'XSATVR75', 'SATVR75', 'XSATMT25', 'SATMT25', 'XSATMT75',
       'SATMT75', 'XACTCM25', 'ACTCM25', 'XACTCM75', 'ACTCM75', 'XACTEN25',
       'ACTEN25', 'XACTEN75', 'ACTEN75', 'XACTMT25', 'ACTMT25', 'XACTMT75',
       'ACTMT75'],
      dtype='object')

# Please note that all of the data included in this file refers to Institutions who do not have an Open Enrollment Policy only.

### As far as analyzing the variables that affect enrollment for first time undergraduate students, we can select the first ten variables from the data file as potentially directly affecting enrollment:

Variable Label     Variable Description

1	UNITID	Unique identification number of the institution

2	ADMCON1	Secondary school GPA

3	ADMCON2	Secondary school rank

4	ADMCON3	Secondary school record

5	ADMCON4	Completion of college-preparatory program

6	ADMCON5	Recommendations

7	ADMCON6	Formal demonstration of competencies

8	ADMCON7	Admission test scores

9	ADMCON8	TOEFL (Test of English as a Foreign Language

10	ADMCON9	Other Test (Wonderlic, WISC-III, etc.)
 
   -
 
### The remaining 29 variables and their associated imputation variables are, however, just as interesting.
 
1	APPLCN	XAPPLCN	Applicants total

2	APPLCNM	XAPPLCNM	Applicants men

3	APPLCNW	XAPPLCNW	Applicants women

4	ADMSSN	XADMSSN	Admissions total

5	ADMSSNM	XADMSSNM	Admissions men

6	ADMSSNW	XADMSSNW	Admissions women

7	ENRLT	XENRLT	Enrolled total

8	ENRLM	XENRLM	Enrolled  men

9	ENRLW	XENRLW	Enrolled  women

10	ENRLFT	XENRLFT	Enrolled full time total

11	ENRLFTM	XENRLFTM	Enrolled full time men

12	ENRLFTW	XENRLFTW	Enrolled full time women

13	ENRLPT	XENRLPT	Enrolled part time total

14	ENRLPTM	XENRLPTM	Enrolled part time men

15	ENRLPTW	XENRLPTW	Enrolled part time women

16	SATNUM	XSATNUM	Number of first-time degree/certificate-seeking students submitting SAT scores

17	SATPCT	XSATPCT	Percent of first-time degree/certificate-seeking students submitting SAT scores

18	ACTNUM	XACTNUM	Number of first-time degree/certificate-seeking students submitting ACT scores

19	ACTPCT	XACTPCT	Percent of first-time degree/certificate-seeking students submitting ACT scores

20	SATVR25	XSATVR25   	  SAT Evidence-Based Reading and Writing 25th percentile score

21	SATVR75	XSATVR75    	SAT Evidence-Based Reading and Writing 75th percentile score

22	SATMT25	XSATMT25	    SAT Math 25th percentile score

23	SATMT75	XSATMT75    	SAT Math 75th percentile score

24	ACTCM25	XACTCM25	    ACT Composite 25th percentile score

25	ACTCM75	XACTCM75	    ACT Composite 75th percentile score

26	ACTEN25	XACTEN25	    ACT English 25th percentile score

27	ACTEN75	XACTEN75	    ACT English 75th percentile score

28	ACTMT25	XACTMT25	    ACT Math 25th percentile score

29	ACTMT75	XACTMT75	    ACT Math 75th percentile score

### Let's look a moment at the first ten variables separately - Only the variables that address specifically admissions policies (without including standardized tests data)

In [ ]:
# columns=['UNITID', 'ADMCON1', 'ADMCON2', 'ADMCON3', 'ADMCON4', 'ADMCON5',
      #  'ADMCON6', 'ADMCON7', 'ADMCON8', 'ADMCON9', 'XAPPLCN', 'APPLCN',
      #  'XAPPLCNM', 'APPLCNM', 'XAPPLCNW', 'APPLCNW', 'XADMSSN', 'ADMSSN',
      #  'XADMSSNM', 'ADMSSNM', 'XADMSSNW', 'ADMSSNW', 'XENRLT', 'ENRLT',
      #  'XENRLM', 'ENRLM', 'XENRLW', 'ENRLW', 'XENRLFT', 'ENRLFT', 'XENRLFTM',
      #  'ENRLFTM', 'XENRLFTW', 'ENRLFTW', 'XENRLPT', 'ENRLPT', 'XENRLPTM',
      #  'ENRLPTM', 'XENRLPTW', 'ENRLPTW', 'XSATNUM', 'SATNUM', 'XSATPCT',
      #  'SATPCT', 'XACTNUM', 'ACTNUM', 'XACTPCT', 'ACTPCT', 'XSATVR25',
      #  'SATVR25', 'XSATVR75', 'SATVR75', 'XSATMT25', 'SATMT25', 'XSATMT75',
      #  'SATMT75', 'XACTCM25', 'ACTCM25', 'XACTCM75', 'ACTCM75', 'XACTEN25',
      #  'ACTEN25', 'XACTEN75', 'ACTEN75', 'XACTMT25', 'ACTMT25', 'XACTMT75',
      #  'ACTMT75']

# Taking a look at only the first ten variables which specifically look at Admission Policies
#  without looking at the numbers of admitted students or  Standardized Tests Policies

df_adm = df[['UNITID', 'ADMCON1', 'ADMCON2', 'ADMCON3', 'ADMCON4', 'ADMCON5',
       'ADMCON6', 'ADMCON7', 'ADMCON8', 'ADMCON9']].reset_index(drop=True)
df_adm

      UNITID  ADMCON1  ADMCON2  ADMCON3  ...  ADMCON6  ADMCON7  ADMCON8  ADMCON9
0     100654        1        2        1  ...        2        1        1        3
1     100663        1        3        1  ...        3        1        3        3
2     100706        1        2        1  ...        2        1        1        3
3     100724        1        3        2  ...        3        1        1        3
4     100751        1        2        1  ...        3        1        1        3
...      ...      ...      ...      ...  ...      ...      ...      ...      ...
1984  495439        1        3        1  ...        3        3        3        1
1985  495448        1        3        1  ...        3        3        3        1
1986  495457        1        3        1  ...        3        3        3        1
1987  495767        1        3        1  ...        3        1        1        3
1988  495916        1        3        1  ...        3        1        1        1

[1989 rows x 10 columns]

### Returning to the whole DF, let's adopt the same approach we did previously and check how many values have not been directy reported by the institution. 

### This check will allow us to see how much data we might lose if we ONLY maintain direclt reported data.

In [ ]:
# df['XENRLT'].unique()

# # # Code Value	ValueLabel

# # A	Not applicable - NO 

# # B	Institution left item blank - NO 

# # C	Analyst corrected reported value - YES 

# # D	Do not know - NO

# # G	Data generated from other data values - NO 
# # H	Value not derived - data not usable - NO

# # J	Logical imputation - YES
# # K	Ratio adjustment - YES

# # L	Imputed using the Group Median procedure - NO 

# # N	Imputed using Nearest Neighbor procedure - NO
# # P	Imputed using Carry Forward procedure - NO 

# # R	Reported - YES
# # Z	Implied zero - YES

In [ ]:
# df['XENRLT'].value_counts()

In [ ]:
df.shape

(1989, 68)

### First, let's slice out right away any institutions that have not made the short-listed  group from our first round of data cleaning - 

### This will allow us to focus on only the institutions we ultimately will be working with

In [ ]:
# Importing the list of institutions' names and UNITIDs

df_unitid=read_data('/content/gdrive/Shareddrives/DATA_606_Capstone/Merged_data/unitid_name.csv').reset_index(drop=True)
df_unitid

0.014286279678344727 seconds

      Unnamed: 0  UNITID                                             INSTNM
0              0  100654                           Alabama A & M University
1              1  100663                University of Alabama at Birmingham
2              2  100690                                 Amridge University
3              3  100706                University of Alabama in Huntsville
4              4  100724                           Alabama State University
...          ...     ...                                                ...
3742        6310  494755  West Virginia Junior College-United Career Ins...
3743        6312  494807              Ponce Health Sciences University-East
3744        6314  494843                            Fortis College-Landover
3745        6315  494852     Stautzenberger College-Rockford Career College
3746        6316  494898         WellSpring School of Allied Health-Wichita

[3747 rows x 3 columns]

In [ ]:
# df_unitid.columns

In [ ]:
df_unitid.drop(['Unnamed: 0'],axis =1, inplace=True)

### Merging the list of Institutions here with the short-listed ones for which we have the other data, we see that we loose a few Institutions.
### Our list goes from  1989 to 1852 (minus 137)
(These are ONLY the institutions not adopting an open enrollment policy)

In [ ]:
df_check = pd.merge(df, df_unitid, left_on='UNITID', right_on='UNITID')
df_check.shape

(1852, 69)

### Now we need to clean the remaining data

In [ ]:
df_check.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1852 entries, 0 to 1851
Data columns (total 69 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   UNITID    1852 non-null   int64
 1   ADMCON1   1852 non-null   int64
 2   ADMCON2   1852 non-null   int64
 3   ADMCON3   1852 non-null   int64
 4   ADMCON4   1852 non-null   int64
 5   ADMCON5   1852 non-null   int64
 6   ADMCON6   1852 non-null   int64
 7   ADMCON7   1852 non-null   int64
 8   ADMCON8   1852 non-null   int64
 9   ADMCON9   1852 non-null   int64
 10  XAPPLCN   1852 non-null   object
 11  APPLCN    1852 non-null   int64
 12  XAPPLCNM  1852 non-null   object
 13  APPLCNM   1852 non-null   int64
 14  XAPPLCNW  1852 non-null   object
 15  APPLCNW   1852 non-null   int64
 16  XADMSSN   1852 non-null   object
 17  ADMSSN    1840 non-null   float64
 18  XADMSSNM  1852 non-null   object
 19  ADMSSNM   1790 non-null   float64
 20  XADMSSNW  1852 non-null   object
 21  ADMSSNW   1761 non-null   float64
 22  XENRLT    1852 non-null   object
 23  ENRLT     1838 non-null   float64
 24  XENRLM    1852 non-null   object
 25  ENRLM     1779 non-null   float64
 26  XENRLW    1852 non-null   object
 27  ENRLW     1752 non-null   float64
 28  XENRLFT   1852 non-null   object
 29  ENRLFT    1829 non-null   float64
 30  XENRLFTM  1852 non-null   object
 31  ENRLFTM   1760 non-null   float64
 32  XENRLFTW  1852 non-null   object
 33  ENRLFTW   1738 non-null   float64
 34  XENRLPT   1852 non-null   object
 35  ENRLPT    1461 non-null   float64
 36  XENRLPTM  1852 non-null   object
 37  ENRLPTM   1413 non-null   float64
 38  XENRLPTW  1852 non-null   object
 39  ENRLPTW   1451 non-null   float64
 40  XSATNUM   1852 non-null   object
 41  SATNUM    1150 non-null   float64
 42  XSATPCT   1852 non-null   object
 43  SATPCT    1151 non-null   float64
 44  XACTNUM   1852 non-null   object
 45  ACTNUM    1150 non-null   float64
 46  XACTPCT   1852 non-null   object
 47  ACTPCT    1150 non-null   float64
 48  XSATVR25  1852 non-null   object
 49  SATVR25   1081 non-null   float64
 50  XSATVR75  1852 non-null   object
 51  SATVR75   1081 non-null   float64
 52  XSATMT25  1852 non-null   object
 53  SATMT25   1081 non-null   float64
 54  XSATMT75  1852 non-null   object
 55  SATMT75   1081 non-null   float64
 56  XACTCM25  1852 non-null   object
 57  ACTCM25   1112 non-null   float64
 58  XACTCM75  1852 non-null   object
 59  ACTCM75   1112 non-null   float64
 60  XACTEN25  1852 non-null   object
 61  ACTEN25   1048 non-null   float64
 62  XACTEN75  1852 non-null   object
 63  ACTEN75   1048 non-null   float64
 64  XACTMT25  1852 non-null   object
 65  ACTMT25   1049 non-null   float64
 66  XACTMT75  1852 non-null   object
 67  ACTMT75   1049 non-null   float64
 68  INSTNM    1852 non-null   object
dtypes: float64(26), int64(13), object(30)
memory usage: 1012.8+ KB

### Let's check first if any of these institutions have reported no Applications for this Academic year 

### This would seem strange as the Institutions should be closing but there may be a delay between applications received and the institution clsoign which could explain the discrepancy.

### There are however 12 institutions in this list in this situation

In [ ]:
# All institutions in the df have reported the data themselves for Application Numbers
df_check['XAPPLCN'].value_counts()

R    1852
Name: XAPPLCN, dtype: int64

In [ ]:
df_check['APPLCN'].nunique()

1537

In [ ]:
# df_check['APPLCN'].unique()

In [ ]:
df_check['APPLCN'].value_counts()

0        12
3        12
18        9
1         9
4         8
         ..
10934     1
785       1
20075     1
2677      1
85        1
Name: APPLCN, Length: 1537, dtype: int64

In [ ]:
# df_check['APPLCN'].isnull().sum()

In [ ]:
# df_check['APPLCN'].isna().sum()

### None of the Institutions in the df have null Application entries. 

### When we check for the respective Men and Women columns too, we note that there are a number of Institutions who appear to have received only Men or Women Applicants (14 and 63 respectively)

### This being the case we can link this information with the following columns indicating Men and Women Admissions and Enrollment

In [ ]:
df_check['XAPPLCNM'].value_counts()

R    1838
Z      14
Name: XAPPLCNM, dtype: int64

In [ ]:
df_check['XAPPLCNW'].value_counts()

R    1789
Z      63
Name: XAPPLCNW, dtype: int64

In [ ]:
#  ['UNITID', 'ADMCON1', 'ADMCON2', 'ADMCON3', 'ADMCON4', 'ADMCON5',
#        'ADMCON6', 'ADMCON7', 'ADMCON8', 'ADMCON9', 'XAPPLCN', 'APPLCN',

#        'XAPPLCNM', 'APPLCNM', 'XAPPLCNW', 'APPLCNW', 
# 'XADMSSN', 'ADMSSN',
#        'XADMSSNM', 'ADMSSNM', 'XADMSSNW', 'ADMSSNW', 
# 'XENRLT', 'ENRLT',
#        'XENRLM', 'ENRLM', 'XENRLW', 'ENRLW', 
#'XENRLFT', 'ENRLFT', 
#        'XENRLFTM', 'ENRLFTM', 'XENRLFTW', 'ENRLFTW', 
# 'XENRLPT', 'ENRLPT', 
#        'XENRLPTM', 'ENRLPTM', 'XENRLPTW', 'ENRLPTW', 

#'XSATNUM', 'SATNUM', 'XSATPCT',
#        'SATPCT', 'XACTNUM', 'ACTNUM', 'XACTPCT', 'ACTPCT', 'XSATVR25',
#        'SATVR25', 'XSATVR75', 'SATVR75', 'XSATMT25', 'SATMT25', 'XSATMT75',
#        'SATMT75', 'XACTCM25', 'ACTCM25', 'XACTCM75', 'ACTCM75', 'XACTEN25',
#        'ACTEN25', 'XACTEN75', 'ACTEN75', 'XACTMT25', 'ACTMT25', 'XACTMT75',
#        'ACTMT75', 'INSTNM']


# https://stackoverflow.com/questions/46377263/pandas-fillna-method-does-not-work-inplace
# mask = problem_data['level_type'] == 5.0
# problem_data.loc[mask, 'points'] = problem_data.loc[mask, 'points'].fillna(value=2500)

# mask = df_check.loc[lambda df_check:((df_check['APPLCN']==0)),:]

# ['UNITID', 'ADMCON1', 'ADMCON2', 'ADMCON3', 'ADMCON4', 'ADMCON5',
#        'ADMCON6', 'ADMCON7', 'ADMCON8', 'ADMCON9', 'XAPPLCN', 'APPLCN',

#        'XAPPLCNM', 'APPLCNM', 'XAPPLCNW', 'APPLCNW', 
# 'XADMSSN', 'ADMSSN',
#        'XADMSSNM', '', 'XADMSSNW', 'ADMSSNW', 
# 'XENRLT', 'ENRLT',
#        'XENRLM', '', 'XENRLW', 'ENRLW', 
#'XENRLFT', 'ENRLFT', 
#        'XENRLFTM', '', 'XENRLFTW', 'ENRLFTW', 
# 'XENRLPT', 'ENRLPT', 
#        'XENRLPTM', '', 'XENRLPTW', 'ENRLPTW', 

#'XSATNUM', 'SATNUM', 'XSATPCT',
#        'SATPCT', 'XACTNUM', 'ACTNUM', 'XACTPCT', 'ACTPCT', 'XSATVR25',
#        'SATVR25', 'XSATVR75', 'SATVR75', 'XSATMT25', 'SATMT25', 'XSATMT75',
#        'SATMT75', 'XACTCM25', 'ACTCM25', 'XACTCM75', 'ACTCM75', 'XACTEN25',
#        'ACTEN25', 'XACTEN75', 'ACTEN75', 'XACTMT25', 'ACTMT25', 'XACTMT75',
#        'ACTMT75', 'INSTNM']


mask = df_check['XAPPLCNM'] == 'Z'
df_check.loc[mask, ['ADMSSNM','ENRLM','ENRLFTM','ENRLPTM']] = df_check.loc[mask, ['ADMSSNM','ENRLM','ENRLFTM','ENRLPTM']].fillna(value=0)

In [ ]:
# Cleaning the data for the Women's columns
mask = df_check['XAPPLCNW'] == 'Z'
df_check.loc[mask, ['ADMSSNW','ENRLW','ENRLFTW','ENRLPTW']] = df_check.loc[mask, ['ADMSSNW','ENRLW','ENRLFTW','ENRLPTW']].fillna(value=0)

### Let's take a look at the institutions reporting regarding Admissions. 

### we can immediately see that there are 12 institutions that reported 'Not Applicable' ('A') for the total number of Admissions recorded and one institution whose total Admissions was corrected by the analyst.

### This seems unusual unless they are associated with institutions for which no applications were recorded - let's check that

In [ ]:
df_check['XADMSSN'].value_counts()

R    1839
A      12
C       1
Name: XADMSSN, dtype: int64

In [ ]:
(df_check.loc[lambda df_check:((df_check['APPLCN']==0)),:]).loc[lambda df_check:((df_check['XADMSSN']=='A')),:].shape

(12, 69)

### There is overlap between the columns  which means that the "Not Applicable" Admissions correspond to the Institutions that  received no applications for the 2019-2020 academic year - 

### We can fill in these values with zeros without loosing valuable information or inserting an error into the data

In [ ]:
mask = df_check['XADMSSN'] == 'A'
df_check.loc[mask, ['ADMSSN','ADMSSNM','ADMSSNW', 'ENRLT', 'ENRLM','ENRLW','ENRLFT',
                    'ENRLFTM','ENRLFTW','ENRLPT', 'ENRLPTM', 'ENRLPTW'
                    #, 'SATNUM',
                    #'SATPCT', 'ACTNUM', 'ACTPCT', 
                    #'SATVR25', 'SATVR75', 'SATMT25', 'SATMT75','ACTCM25', 'ACTCM75', 
                    #'ACTEN25', 'ACTEN75', 'ACTMT25', 'ACTMT75'
                    ]] = df_check.loc[mask, ['ADMSSN','ADMSSNM','ADMSSNW', 'ENRLT','ENRLM','ENRLW','ENRLFT', 'ENRLFTM','ENRLFTW','ENRLPT', 'ENRLPTM',
                                             'ENRLPTW'
                                             #, 'SATNUM', 'SATPCT', 'ACTNUM', 'ACTPCT','SATVR25', 'SATVR75', 
                                             # 'SATMT25', 'SATMT75','ACTCM25', 'ACTCM75', 'ACTEN25', 'ACTEN75','ACTMT25', 'ACTMT75'
                                             ]].fillna(value=0)

### Now, let's check  the Enrollment Column as well. 

### There appear to be 14 Institutions (two more than we would have expected) that have a 'Not Applicable' code for the Enrollment column. 

### Let's check this against the other two columns

In [ ]:
df_check['XENRLT'].value_counts()

R    1822
C      16
A      14
Name: XENRLT, dtype: int64

In [ ]:
df_check['ENRLT'].isna().sum()

2

In [ ]:

# There is overlap with the institutions that reported no applications this year 

(df_check.loc[lambda df_check:((df_check['APPLCN']==0)),:]).loc[lambda df_check:((df_check['XENRLT']=='A')),:].shape

(12, 69)

In [ ]:
# There is overlap with the institutions that reported no admissions this year 

(df_check.loc[lambda df_check:((df_check['ADMSSN']==0)),:]).loc[lambda df_check:((df_check['XENRLT']=='A')),:].shape

(14, 69)

### Given the overlap, we can fill in these values with zeros without loosing valuable information or inserting an error into the data

In [ ]:
mask = df_check['ADMSSN'] == 0
df_check.loc[mask, ['ENRLT', 'ENRLM','ENRLW','ENRLFT',
                    'ENRLFTM','ENRLFTW','ENRLPT', 'ENRLPTM', 'ENRLPTW'
                    #, 'SATNUM',
                    #'SATPCT', 'ACTNUM', 'ACTPCT', 
                    #'SATVR25', 'SATVR75', 'SATMT25', 'SATMT75','ACTCM25', 'ACTCM75', 
                    #'ACTEN25', 'ACTEN75', 'ACTMT25', 'ACTMT75'
                    ]] = df_check.loc[mask, ['ENRLT','ENRLM','ENRLW','ENRLFT', 'ENRLFTM','ENRLFTW','ENRLPT', 'ENRLPTM',
                                             'ENRLPTW'
                                             #, 'SATNUM', 'SATPCT', 'ACTNUM', 'ACTPCT','SATVR25', 'SATVR75', 
                                             # 'SATMT25', 'SATMT75','ACTCM25', 'ACTCM75', 'ACTEN25', 'ACTEN75','ACTMT25', 'ACTMT75'
                                             ]].fillna(value=0)

### When checking for Null Values we still have 9 institutions without recorded Full Time Enrollment - let us take a closer look at these institutions

In [ ]:
df_check['ENRLFT'].isnull().sum()

9

In [ ]:
df_check['ENRLFT'].isna().sum()

9

In [ ]:
df_check.loc[lambda df_check:((df_check['ENRLFT'].isnull())),:]

      UNITID  ...                                             INSTNM
64    110468  ...         Alliant International University-San Diego
131   122454  ...                        San Francisco Art Institute
869   190956  ...                         Belanger School of Nursing
943   195702  ...                 Saint Elizabeth College of Nursing
1738  475200  ...         Whitworth University-Adult Degree Programs
1739  475422  ...  Finger Lakes Health College of Nursing & Healt...
1772  482565  ...                    DeVry University-North Carolina
1812  489344  ...              Chamberlain University-North Carolina
1840  493619  ...     Young Americans College of the Performing Arts

[9 rows x 69 columns]

### First I notice that some of the institutions still have Null values for the number of Admissions for Men, when there should be zeros instead because these institutions did not receive any application from Men - Let's fix that

In [ ]:
mask = df_check['APPLCNM'] == 0
df_check.loc[mask, ['ADMSSNM','ENRLM',
                    'ENRLFTM', 'ENRLPTM' 
                    ]] = df_check.loc[mask, ['ADMSSNM','ENRLM','ENRLFTM', 'ENRLPTM'
                                             ]].fillna(value=0)

In [ ]:
mask = df_check['APPLCNW'] == 0
df_check.loc[mask, ['ADMSSNW','ENRLW',
                    'ENRLFTW', 'ENRLPTW' 
                    ]] = df_check.loc[mask, ['ADMSSNW','ENRLW','ENRLFTW', 'ENRLPTW'
                                             ]].fillna(value=0)

### Then, I notice that some of the institutions still have Null values for the number of Enrollments for Men, when there should be zeros instead because these institutions did not Admit any Men - Let's fix that

In [ ]:
mask = df_check['ADMSSNM'] == 0
df_check.loc[mask, ['ENRLM', 'ENRLFTM', 'ENRLPTM' 
                    ]] = df_check.loc[mask, ['ENRLM','ENRLFTM', 'ENRLPTM'
                                             ]].fillna(value=0)

In [ ]:
mask = df_check['ADMSSNW'] == 0
df_check.loc[mask, ['ENRLW','ENRLFTW', 'ENRLPTW' 
                    ]] = df_check.loc[mask, ['ENRLW','ENRLFTW', 'ENRLPTW'
                                             ]].fillna(value=0)

### Finally, I notice that some of the institutions still have Null values for the Part Time and Full Time Enrollments Columns for Men (and Women), when there should be zeros instead because these institutions did not have Enrollments at all this academic year - Let's fix that

In [ ]:
mask = df_check['ENRLT'] == 0
df_check.loc[mask, ['ENRLFT','ENRLPT','ENRLM', 'ENRLFTM', 'ENRLPTM','ENRLW','ENRLFTW', 'ENRLPTW' 
                    ]] = df_check.loc[mask, ['ENRLFT','ENRLPT','ENRLM', 'ENRLFTM', 'ENRLPTM','ENRLW','ENRLFTW', 'ENRLPTW' 
                                             ]].fillna(value=0)

### This allowed us to eliminate most of the null values from the DF but not all.

### Checking for Null values we still find some associated with  Male enrollment separately from female enrollment - let's deal with those next

In [ ]:
df_check.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1852 entries, 0 to 1851
Data columns (total 69 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   UNITID    1852 non-null   int64
 1   ADMCON1   1852 non-null   int64
 2   ADMCON2   1852 non-null   int64
 3   ADMCON3   1852 non-null   int64
 4   ADMCON4   1852 non-null   int64
 5   ADMCON5   1852 non-null   int64
 6   ADMCON6   1852 non-null   int64
 7   ADMCON7   1852 non-null   int64
 8   ADMCON8   1852 non-null   int64
 9   ADMCON9   1852 non-null   int64
 10  XAPPLCN   1852 non-null   object
 11  APPLCN    1852 non-null   int64
 12  XAPPLCNM  1852 non-null   object
 13  APPLCNM   1852 non-null   int64
 14  XAPPLCNW  1852 non-null   object
 15  APPLCNW   1852 non-null   int64
 16  XADMSSN   1852 non-null   object
 17  ADMSSN    1852 non-null   float64
 18  XADMSSNM  1852 non-null   object
 19  ADMSSNM   1852 non-null   float64
 20  XADMSSNW  1852 non-null   object
 21  ADMSSNW   1852 non-null   float64
 22  XENRLT    1852 non-null   object
 23  ENRLT     1852 non-null   float64
 24  XENRLM    1852 non-null   object
 25  ENRLM     1852 non-null   float64
 26  XENRLW    1852 non-null   object
 27  ENRLW     1852 non-null   float64
 28  XENRLFT   1852 non-null   object
 29  ENRLFT    1852 non-null   float64
 30  XENRLFTM  1852 non-null   object
 31  ENRLFTM   1838 non-null   float64
 32  XENRLFTW  1852 non-null   object
 33  ENRLFTW   1846 non-null   float64
 34  XENRLPT   1852 non-null   object
 35  ENRLPT    1484 non-null   float64
 36  XENRLPTM  1852 non-null   object
 37  ENRLPTM   1491 non-null   float64
 38  XENRLPTW  1852 non-null   object
 39  ENRLPTW   1559 non-null   float64
 40  XSATNUM   1852 non-null   object
 41  SATNUM    1150 non-null   float64
 42  XSATPCT   1852 non-null   object
 43  SATPCT    1151 non-null   float64
 44  XACTNUM   1852 non-null   object
 45  ACTNUM    1150 non-null   float64
 46  XACTPCT   1852 non-null   object
 47  ACTPCT    1150 non-null   float64
 48  XSATVR25  1852 non-null   object
 49  SATVR25   1081 non-null   float64
 50  XSATVR75  1852 non-null   object
 51  SATVR75   1081 non-null   float64
 52  XSATMT25  1852 non-null   object
 53  SATMT25   1081 non-null   float64
 54  XSATMT75  1852 non-null   object
 55  SATMT75   1081 non-null   float64
 56  XACTCM25  1852 non-null   object
 57  ACTCM25   1112 non-null   float64
 58  XACTCM75  1852 non-null   object
 59  ACTCM75   1112 non-null   float64
 60  XACTEN25  1852 non-null   object
 61  ACTEN25   1048 non-null   float64
 62  XACTEN75  1852 non-null   object
 63  ACTEN75   1048 non-null   float64
 64  XACTMT25  1852 non-null   object
 65  ACTMT25   1049 non-null   float64
 66  XACTMT75  1852 non-null   object
 67  ACTMT75   1049 non-null   float64
 68  INSTNM    1852 non-null   object
dtypes: float64(26), int64(13), object(30)
memory usage: 1012.8+ KB

In [ ]:
df_check['ENRLFTM'].isnull().sum()

14

In [ ]:
df_check.loc[lambda df_check:((df_check['ENRLPTW'].isnull())),:]

      UNITID  ADMCON1  ...  ACTMT75                                           INSTNM
7     100937        1  ...     27.0                      Birmingham-Southern College
15    101648        1  ...     26.0                        Marion Military Institute
19    101912        1  ...      NaN                               Oakwood University
38    106342        1  ...     26.0                                     Lyon College
43    106546        1  ...     18.0               Baptist Health College Little Rock
...      ...      ...  ...      ...                                              ...
1827  491446        3  ...      NaN                      Bnos Zion Of Bobov Seminary
1831  491631        3  ...      NaN  Women's Institute of Torah Seminary and College
1841  493646        3  ...      NaN                           Ohel Margulia Seminary
1845  493798        3  ...      NaN                                New York Seminary
1851  494807        1  ...      NaN            Ponce Health Sciences University-East

[293 rows x 69 columns]

In [ ]:
mask = df_check['ENRLM'] == 0
df_check.loc[mask, ['ENRLFTM', 'ENRLPTM' 
                    ]] = df_check.loc[mask, ['ENRLFTM', 'ENRLPTM' 
                                             ]].fillna(value=0)

In [ ]:
mask = df_check['ENRLW'] == 0
df_check.loc[mask, ['ENRLFTW', 'ENRLPTW' 
                    ]] = df_check.loc[mask, ['ENRLFTW', 'ENRLPTW' 
                                             ]].fillna(value=0)

### We are almost done - However we still must assign zeros to the Part Time Enrollment Column where the Total number of Enrolled Students  are All Full Time (independently of gender) and vice versa

In [ ]:

df_check['TEST']=np.where( (df_check['ENRLT'] == df_check['ENRLFT']), 1,0  )

mask = df_check['TEST'] == 1
df_check.loc[mask, ['ENRLPT', 'ENRLPTM', 'ENRLPTW' 
                    ]] = df_check.loc[mask, ['ENRLPT', 'ENRLPTM', 'ENRLPTW' 
                                             ]].fillna(value=0)

In [ ]:
df_check['TEST1']=np.where( (df_check['ENRLT'] == df_check['ENRLPT']), 1,0  )

mask = df_check['TEST1'] == 1
df_check.loc[mask, ['ENRLFT', 'ENRLFTM', 'ENRLFTW' 
                    ]] = df_check.loc[mask, ['ENRLFT', 'ENRLFTM', 'ENRLFTW' 
                                             ]].fillna(value=0)

In [ ]:
df_check.drop(['TEST','TEST1'], axis = 1, inplace = True)

In [ ]:
# df_check.info()

### We have cleaned the data in the DF except for the information pertaining to SAT and ACT scores 

### Let's take a look at the data first

In [ ]:
df_check['SATNUM'].value_counts()

0.0       59
37.0      11
2.0       10
16.0       9
5.0        7
          ..
598.0      1
1271.0     1
2045.0     1
1539.0     1
829.0      1
Name: SATNUM, Length: 682, dtype: int64

### The SAT and ACT columns include the number of students who submitted SAT scores or ACT scores

### If the Imputation Column for these two variables is recorded as 'Not Applicable' it is safe to assume that the Institution does not require students to submit either score (in fact when checking both imputation variables we can see that the same number of institutions have 'Not Applicable' for either test). 

### This being the case we can transform this variable as a  "Flag" variable, that indicates whether the institution asks for the tests or not, which will help us with out research questions

In [ ]:
df_check['XSATNUM'].value_counts()

R    1134
A     702
Z      16
Name: XSATNUM, dtype: int64

In [ ]:
df_check['XACTNUM'].value_counts()

R    1144
A     702
Z       6
Name: XACTNUM, dtype: int64

In [ ]:
# Filling in the Nan associated with SAT 'Not Applicable' with zeros

mask = df_check['XSATNUM'] =='A'
df_check.loc[mask, ['SATNUM']] = df_check.loc[mask, ['SATNUM']].fillna(value=0)

In [ ]:
# Filling in the Nan associated with ACT 'Not Applicable' with zeros

mask = df_check['XACTNUM'] =='A'
df_check.loc[mask, ['ACTNUM']] = df_check.loc[mask, ['ACTNUM']].fillna(value=0)

In [ ]:
# Filling in the Reported SAT numbers (coded as 'R') with one to indicate that the school requests the test

df_check['SATNUM']=np.where( (df_check['XSATNUM'] =='R'), 1,0  )

In [ ]:
df_check['SATNUM'].value_counts()

1    1134
0     718
Name: SATNUM, dtype: int64

In [ ]:
#  Filling in the Reported ACT numbers (coded as 'R') with one to indicate that the school requests the test

df_check['ACTNUM']=np.where( (df_check['XACTNUM'] =='R'), 1,0  )

In [ ]:
df_check['ACTNUM'].value_counts()

1    1144
0     708
Name: ACTNUM, dtype: int64

### We have lost some information from the DF but for our purposes what we have is enough

### Now we cand rop the remaining columns we will not be using and all of the Imputation Variable Columns we used to clean the DF

In [ ]:
df_check.columns

Index(['UNITID', 'ADMCON1', 'ADMCON2', 'ADMCON3', 'ADMCON4', 'ADMCON5',
       'ADMCON6', 'ADMCON7', 'ADMCON8', 'ADMCON9', 'XAPPLCN', 'APPLCN',
       'XAPPLCNM', 'APPLCNM', 'XAPPLCNW', 'APPLCNW', 'XADMSSN', 'ADMSSN',
       'XADMSSNM', 'ADMSSNM', 'XADMSSNW', 'ADMSSNW', 'XENRLT', 'ENRLT',
       'XENRLM', 'ENRLM', 'XENRLW', 'ENRLW', 'XENRLFT', 'ENRLFT', 'XENRLFTM',
       'ENRLFTM', 'XENRLFTW', 'ENRLFTW', 'XENRLPT', 'ENRLPT', 'XENRLPTM',
       'ENRLPTM', 'XENRLPTW', 'ENRLPTW', 'XSATNUM', 'SATNUM', 'XSATPCT',
       'SATPCT', 'XACTNUM', 'ACTNUM', 'XACTPCT', 'ACTPCT', 'XSATVR25',
       'SATVR25', 'XSATVR75', 'SATVR75', 'XSATMT25', 'SATMT25', 'XSATMT75',
       'SATMT75', 'XACTCM25', 'ACTCM25', 'XACTCM75', 'ACTCM75', 'XACTEN25',
       'ACTEN25', 'XACTEN75', 'ACTEN75', 'XACTMT25', 'ACTMT25', 'XACTMT75',
       'ACTMT75', 'INSTNM'],
      dtype='object')

In [ ]:
df_check.drop(['XAPPLCN', 'XAPPLCNM', 'XAPPLCNW', 'XADMSSN', 
               'XADMSSNM', 'XADMSSNW', 'XENRLT', 
               'XENRLM', 'XENRLW', 'XENRLFT', 'XENRLFTM',
               'XENRLFTW', 'XENRLPT', 'XENRLPTM',
               'XENRLPTW', 'XSATNUM', 'XSATPCT',
               'SATPCT', 'XACTNUM', 'XACTPCT', 'ACTPCT','XSATVR25',
               'SATVR25', 'XSATVR75', 'SATVR75', 'XSATMT25', 'SATMT25', 'XSATMT75',
               'SATMT75', 'XACTCM25', 'ACTCM25', 'XACTCM75', 'ACTCM75', 'XACTEN25',
               'ACTEN25', 'XACTEN75', 'ACTEN75', 'XACTMT25', 'ACTMT25', 'XACTMT75',
               'ACTMT75', 'INSTNM'], axis = 1, inplace=True)

In [ ]:
df_check.shape

(1852, 27)

In [ ]:
df_check.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1852 entries, 0 to 1851
Data columns (total 27 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   UNITID   1852 non-null   int64
 1   ADMCON1  1852 non-null   int64
 2   ADMCON2  1852 non-null   int64
 3   ADMCON3  1852 non-null   int64
 4   ADMCON4  1852 non-null   int64
 5   ADMCON5  1852 non-null   int64
 6   ADMCON6  1852 non-null   int64
 7   ADMCON7  1852 non-null   int64
 8   ADMCON8  1852 non-null   int64
 9   ADMCON9  1852 non-null   int64
 10  APPLCN   1852 non-null   int64
 11  APPLCNM  1852 non-null   int64
 12  APPLCNW  1852 non-null   int64
 13  ADMSSN   1852 non-null   float64
 14  ADMSSNM  1852 non-null   float64
 15  ADMSSNW  1852 non-null   float64
 16  ENRLT    1852 non-null   float64
 17  ENRLM    1852 non-null   float64
 18  ENRLW    1852 non-null   float64
 19  ENRLFT   1852 non-null   float64
 20  ENRLFTM  1852 non-null   float64
 21  ENRLFTW  1852 non-null   float64
 22  ENRLPT   1852 non-null   float64
 23  ENRLPTM  1852 non-null   float64
 24  ENRLPTW  1852 non-null   float64
 25  SATNUM   1852 non-null   int64
 26  ACTNUM   1852 non-null   int64
dtypes: float64(12), int64(15)
memory usage: 405.1 KB

In [ ]:
df_check.columns

Index(['UNITID', 'ADMCON1', 'ADMCON2', 'ADMCON3', 'ADMCON4', 'ADMCON5',
       'ADMCON6', 'ADMCON7', 'ADMCON8', 'ADMCON9', 'APPLCN', 'APPLCNM',
       'APPLCNW', 'ADMSSN', 'ADMSSNM', 'ADMSSNW', 'ENRLT', 'ENRLM', 'ENRLW',
       'ENRLFT', 'ENRLFTM', 'ENRLFTW', 'ENRLPT', 'ENRLPTM', 'ENRLPTW',
       'SATNUM', 'ACTNUM'],
      dtype='object')

In [ ]:
df_check =df_check.astype(int)

In [ ]:
df_check1 = df_check.copy(deep=False)
df_check1.drop(['APPLCNM','APPLCNW', 'ADMSSNM', 'ADMSSNW', 'ENRLM', 'ENRLW',
                           'ENRLFT', 'ENRLFTM', 'ENRLFTW', 'ENRLPT', 'ENRLPTM', 'ENRLPTW',
                           ], axis = 1, inplace = True)
df_check1
# df_check1a=df_check1.copy(deep=False)

      UNITID  ADMCON1  ADMCON2  ADMCON3  ...  ADMSSN  ENRLT  SATNUM  ACTNUM
0     100654        1        2        1  ...    8835   1664       1       1
1     100663        1        3        1  ...    8375   2154       1       1
2     100706        1        2        1  ...    4467   1345       1       1
3     100724        1        3        2  ...    6948    975       1       1
4     100751        1        2        1  ...   31804   6507       1       1
...      ...      ...      ...      ...  ...     ...    ...     ...     ...
1847  494171        1        3        1  ...      39     22       0       0
1848  494278        1        3        1  ...      18     16       0       0
1849  494287        1        3        1  ...      44     37       0       0
1850  494685        1        3        1  ...      68     60       0       0
1851  494807        1        3        1  ...      18     18       1       1

[1852 rows x 15 columns]

### The df is cleaned and we do not have any missing values for the variables we have kept. 

### We will now merge this DF with our previously merged data   

### Let us separate out the detailed enrollment data by gender first

In [ ]:
df_merged_three = pd.merge(df_merged_two, df_check1,left_on='UNITID', right_on='UNITID')
df_merged_three.head()

   Unnamed: 0  UNITID  ... SATNUM ACTNUM
0           0  100654  ...      1      1
1           1  100663  ...      1      1
2           3  100706  ...      1      1
3           4  100724  ...      1      1
4           5  100751  ...      1      1

[5 rows x 98 columns]

In [ ]:
df_merged_three.drop(['Unnamed: 0'], axis = 1, inplace = True)

In [218]:
df_merged_three.to_csv('/content/gdrive/Shareddrives/DATA_606_Capstone/Merged_data/df_final_merged_data.csv')

In [ ]:
df_check2 = df_check.copy(deep=False)
df_check2.drop(['ADMCON1', 'ADMCON2', 'ADMCON3', 'ADMCON4', 'ADMCON5',
                'ADMCON6', 'ADMCON7', 'ADMCON8', 'ADMCON9', 'SATNUM', 'ACTNUM'], axis = 1, inplace = True)
df_check2

      UNITID  APPLCN  APPLCNM  APPLCNW  ...  ENRLFTW  ENRLPT  ENRLPTM  ENRLPTW
0     100654    9855     3394     6461  ...      962      42       16       26
1     100663   10391     3803     6588  ...     1364      52       27       25
2     100706    5793     3057     2736  ...      488      17        7       10
3     100724    7027     2226     4763  ...      604      49       25       24
4     100751   39560    14907    24653  ...     3738      41       24       17
...      ...     ...      ...      ...  ...      ...     ...      ...      ...
1847  494171      41        9       32  ...       14       5        1        4
1848  494278      23        6       17  ...        8       5        0        5
1849  494287      65       23       42  ...        9      16        5       11
1850  494685      85       38       47  ...       29       9        3        6
1851  494807      35        6       29  ...       14       0        0        0

[1852 rows x 16 columns]

In [214]:

df_student_data_merged = read_data('/content/gdrive/Shareddrives/DATA_606_Capstone/Merged_data/df_student_data_merged.csv')

0.0467832088470459 seconds

In [215]:
df_student_data_merged.columns

Index(['Unnamed: 0', 'UNITID', 'EFYTOTLT', 'EFYTOTLM', 'EFYTOTLW', 'EFYAIANT',
       'EFYAIANM', 'EFYAIANW', 'EFYASIAT', 'EFYASIAM', 'EFYASIAW', 'EFYBKAAT',
       'EFYBKAAM', 'EFYBKAAW', 'EFYHISPT', 'EFYHISPM', 'EFYHISPW', 'EFYNHPIT',
       'EFYNHPIM', 'EFYNHPIW', 'EFYWHITT', 'EFYWHITM', 'EFYWHITW', 'EFY2MORT',
       'EFY2MORM', 'EFY2MORW', 'EFYUNKNT', 'EFYUNKNM', 'EFYUNKNW', 'EFYNRALT',
       'EFYNRALM', 'EFYNRALW', 'STABBR', 'OBEREG'],
      dtype='object')

In [216]:
df_merged_enrollment = pd.merge(df_student_data_merged, df_check2,left_on='UNITID', right_on='UNITID')
df_merged_enrollment.head()

   Unnamed: 0  UNITID  EFYTOTLT  EFYTOTLM  ...  ENRLFTW  ENRLPT  ENRLPTM  ENRLPTW
0           0  100654      5479      2193  ...      962      42       16       26
1           1  100663     14969      5771  ...     1364      52       27       25
2           3  100706      8898      5082  ...      488      17        7       10
3           4  100724      4127      1543  ...      604      49       25       24
4           5  100751     35872     15888  ...     3738      41       24       17

[5 rows x 49 columns]

In [217]:
df_merged_enrollment.drop(['Unnamed: 0'], axis = 1, inplace = True)

In [219]:
df_merged_enrollment.to_csv('/content/gdrive/Shareddrives/DATA_606_Capstone/Merged_data/df_merged_enrollment_data.csv')

### We have finished the initial data cleaning 

### We now have the data and variables we need to study what affects enrollment for Undergraduates the most